/*
 * Component: Subheader
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------

.b-subheader {
    margin-bottom: rb-rem-calc(30px);
    width: 100%;

    @include rb-respond-to((from:m)) {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        margin: -1px;
        border: 0;
        padding: 0;
        width: 1px;
        height: 1px ;
        overflow: hidden;
    }
}

.subheader-title {
    @include rb-fluid-type-range (font-size, 26px, 36px, 320px, 768px);
    position: relative;
    margin-bottom: rb-rem-calc(30px);
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    color: $color-petrol;

    &::after {
        content: '';
        position: absolute;
        bottom: -12px;
        left: 0;
        height: rb-rem-calc(6px);
        width: 40px;
        background: $color-petrol;
    }
}

.subheader-leadin {
    @include rb-fluid-type-range (font-size, 12px, 24px, 320px, 2500px);
    margin-bottom: rb-rem-calc(20px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $color-mouse;
}
