/*
 * Component: Subheader
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------

.b-subheader {
    width: 100%;
    &.is-essence {
       @include rb-respond-to((from:m)){
           text-align: right;
       }
    }
}

.subheader-title {
    @include rb-fluid-type-range (font-size, 74px, 120px, 320px, 2500px);
    text-transform: uppercase;
    font-family:'Josefin Sans', sans-serif;
    color: $color-jeans;
}
