node_modules
build
dist
dev
docs
doc
jsdoc
jsdoc-md
tmp
bower_components
visual-tests
sources/components/**/tests/visual/visual-tests/results
my-example
.sass-cache
.css

.DS_Store
.idea
Gemfile.lock
*.bat
*.bundle
*.cache
*.log
*.sass-cache
*.sublime-project
*.sublime-workspace
*.temp
*.tmp
