/*
 * Component: Intro
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------

.b-intro {
    position: relative;
    margin: auto;
    padding: rb-rem-calc(110px 0);
    width: 100%;
}

.intro-title {
    @include rb-fluid-type-range (font-size, 130px, 430px, 350px, 2500px);
    position: relative;
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.6;
    color: $color-lollypop;

    &::before {
        @include rb-fluid-type-range (width, 285px, 950px, 414px, 2500px);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 17.5%;
        top: 37.5%;
        background: $color-gradient-poppyglow;
        animation: colorchange 5000ms ease-in-out;
        animation-iteration-count: infinite;

        @keyframes colorchange
        {
            0%   {
                background-position:calc(0% - 250px) center;
            }
            50%  {
                background-position:calc(100% + 250px) center;
            }
            100%  {
                background-position:calc(0% - 250px) center;
            }
        }
    }
}

.intro-leadin {
    @include rb-fluid-type-range (font-size, 12px, 36px, 414px, 2500px);
    display: block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-eggshell;
}



