/*
 * Component: Intro
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------

.b-intro {
    align-self: center;
    position: relative;
    margin: auto;
    width: 100%;
}

.intro-title {
    @supports (display: flex) {
        line-height: 0.6;
    }

    @include rb-fluid-type-range (font-size, 140px, 430px, 320px, 2500px);
    position: relative;
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.75;
    color: $color-lollypop;

    &::before {
        @supports (display: flex) {
        top: 38%;
        height: 15%;
        }
        @include rb-fluid-type-range (width, 285px, 950px, 320px, 2500px);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 16%;
        top: 52.5%;
        background: $color-gradient-poppyglow;
        animation: colorchange 5000ms ease-in-out;
        animation-iteration-count: infinite;

        @keyframes colorchange
        {
            0%   {
                background-position:calc(0% - 250px) center;
            }
            50%  {
                background-position:calc(100% + 250px) center;
            }
            100%  {
                background-position:calc(0% - 250px) center;
            }
        }
    }
}

.intro-leadin {
    @include rb-fluid-type-range (font-size, 11px, 34px, 320px, 2500px);
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-eggshell;
}



