/*
 * Component: Pageinfo
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-pageinfo {
    padding: rb-rem-calc(20px 0 30px);
}

.pageinfo-copywright {
    @include fluid-copytext;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: $color-mouse-dead;
}
