/*
 * Component: Pageinfo
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-pageinfo {
    padding: rb-rem-calc(30px 0);
}

.pageinfo-copywright {
    font: 200 20px/1.5 'Montserrat', sans-serif;
    color: $color-bright;
    @include rb-respond-to((to:xs)) {
        font-size: rb-rem-calc(12px);
    }
}
