---
component: Subnav
---

<nav class="b-sidenav">
    <ul class="sidenav-list">
        <li class="sidenav-item">
            <a class="sidenav-item-inner" href="tel:+4917678903509">
                <svg class="sidenav-item-icon is-phone" width="353.305" height="298.556" viewBox="0 0 353.305 298.556">
                    <defs>
                        <path id="a" d="M117.767 132.23l14.46-14.46-36.155-37.194-15.495 15.496c2.068 0 37.19 36.157 37.19 36.157zm68.18-80.577h-20.66v51.653h20.66V51.653zm84.714 44.42l-14.465-14.457-37.188 37.185 14.458 14.468c0-1.04 35.128-37.196 37.196-37.196zm25.828 107.44c-30.992-29.963-74.38-48.555-120.87-48.555-46.486 0-89.876 18.592-120.868 48.555-2.063 2.068-3.097 4.126-3.097 7.233 0 3.098 1.034 5.165 3.097 7.224l25.827 25.826c2.068 2.068 4.135 3.106 7.232 3.106 3.098 0 5.166-1.038 7.233-3.106 8.263-7.225 17.56-14.457 27.888-19.623 3.105-2.068 6.2-5.164 6.2-9.3V182.85c14.462-5.165 30.992-7.232 47.523-7.232 16.528 0 32.023 3.098 47.52 7.233v32.022c0 4.137 2.068 7.232 6.194 9.3 10.33 5.167 19.632 11.36 27.895 19.624 2.068 2.068 4.138 3.106 7.233 3.106 3.098 0 5.165-1.038 7.233-3.106l25.826-25.826c2.06-2.06 3.098-4.126 3.098-7.224-2.067-3.107-3.097-5.164-5.164-7.233z"/>
                    </defs>
                    <use xlink:href="#a" overflow="visible" fill-rule="evenodd" clip-rule="evenodd" fill="#E4E4E4"/>
                    <clipPath id="b">
                        <use xlink:href="#a" overflow="visible"/>
                    </clipPath>
                    <path class="sidenav-item-icon-inner" clip-path="url(#b)" fill="#E4E4E4" d="M0 0h353.305v298.556H0z"/>
                </svg>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-item-inner" href="mailto:2debbiederks@gmail.com">
                <svg class="sidenav-item-icon" width="178" height="142" viewBox="0 0 178 142">
                    <path class="sidenav-item-icon-inner" fill-rule="evenodd" clip-rule="evenodd" fill="#E4E4E4" d="M130.064 30H46.782C41.056 30 36 35.078 36 40.8v62.464C36 108.987 41.056 114 46.782 114h83.283c5.726 0 10.936-5.013 10.936-10.735V40.8c0-5.722-5.21-10.8-10.936-10.8zM130 60.015L88 86.04 46 60.015v-10.41L88 75.63l42-26.026v10.41z"/>
                    <path clip-rule="evenodd" fill="none" d="M0 0h178v142H0z"/>
                </svg>
            </a>
        </li>
    </ul>
</nav>
