<div class="doc-navpanel">
    <div class="doc-navpanel-frame">
        {{> navbutton }}
        {{> screensize }}
    </div>
    <div class="doc-navpanel-box">
        {{> navmain }}
    </div>
</div>
