---
title: Startpagina
layout: default_tpl.hbs
---
<section class="page-intro is-bg-bright">
    <div class="page-intro-inner">
        {{#with b_intro.default}}
            {{> b_intro }}
        {{/with}}
    </div>
</section>
<div class="page-section is-bg-enlightened">
    <svg class="page-section-inner is-bottomarrow" viewBox="0 -120.2 1439.75 240.7">
        <path fill="#1377a7" d="M719.82 120.5l719.93-240.2-717-.5L0-119.7"/>
    </svg>
</div>
<section class="page-section is-bg-enlightened" id="who">
    <div class="page-section-inner is-width-fully">
        {{#with b_profile}}
            {{> b_profile }}
        {{/with}}
        <div class="b-media is-profile">
            <img class="media-img" src="../assets/media/img-temp/dd.png" alt="image of me">
        </div>
    </div>
</section>
<section class="page-section">
    <div class="page-section-inner">
        <div class="b-cellcase">
            <div class="cellcase-row">
                <div class="cellcase-box u-size-50 u-size-100-lte-m is-switched">

                    {{#with b_essence}}
                        {{> b_essence }}
                    {{/with}}
                </div>
                <div class="cellcase-box u-size-50 u-size-100-lte-m">
                    {{#with b_itemset.code}}
                        {{> b_itemset }}
                    {{/with}}
                </div>
            </div>
            <div class="cellcase-row">
                <div class="cellcase-box u-size-50 u-size-100-lte-m is-special">
                    {{#with b_itemset.tools}}
                        {{> b_itemset }}
                    {{/with}}
                </div>
                <div class="cellcase-box u-size-50 u-size-100-lte-m">
                    {{#with b_itemset.design}}
                        {{> b_itemset }}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section is-bg-poppy">
    <div class="page-section-inner is-pos-centered is-height-special">
        <div class="b-shape is-cirkel is-lollypop">
            <div class="shape-dept-1 is-cirkel">
                <div class="shape-dept-2 is-cirkel">
                </div>
            </div>
        </div>
        {{#with b_contact}}
            {{> b_contact }}
        {{/with}}
    </div>
</section>
<footer class="page-footer">
    <div class="page-footer-inner">
        {{#with b_pageinfo}}
            {{> b_pageinfo }}
        {{/with}}
    </div>
</footer>






