---
title: Testing 1
layout: default_tpl.hbs

---
<div class="u-column-group u-gutters">
    <div class="u-size-50">
        <div style="background: #ccc; height: 400px;"></div>
    </div>
    <div class="u-size-50 u-size-100-lte-m">
        <div style="background: #ccc; height: 400px;"></div>
    </div>
    <div class="u-size-50 u-size-100-lte-m">
        <div style="background: #ccc; height: 400px;"></div>
    </div>
    <div class="u-size-50 u-size-50-lte-m">
        <div style="background: #ccc; height: 400px;"></div>
    </div>
    <div class="u-size-33 u-size-50-lte-m">
        <div style="background: #ccc; height: 300px;"></div>
    </div>
    <div class="u-size-33 u-size-50-lte-m">
        <div style="background: #ccc; height: 300px;"></div>
    </div>
    <div class="u-size-33 u-size-50-lte-m">
        <div style="background: #ccc; height: 300px;"></div>
    </div>
    <div class="u-size-100 u-size-50-lte-m">
        <div style="background: #ccc; height: 100px;"></div>
    </div>
</div>

