{{#navigation "pages: source/templates/pages/**/*.hbs, components: source/components/**/*.hbs, styleguide:helpers/styleguide/templates/pages/**/!(index)*.hbs" }}
    <nav class="doc-navmain {{#is ../title "Index"}}is-index{{/is}}">
        <ul class="doc-navmain-list">
            {{#isnt ../title "Index"}}
                <li class="doc-navmain-item is-level-1">
                    <a href="index.html" class="doc-navmain-link" data-target="#iframe">Index</a>
                </li>
            {{/isnt}}
            {{#each this}}
                <li class="doc-navmain-item is-level-1">
                    <h3 class="doc-navmain-title">{{this.title}}</h3>
                    <ul class="doc-nav">
                        {{#each this.items}}
                            <li class="doc-navmain-item">
                                <a href="{{ href }}" class="doc-navmain-link" data-target="#iframe">{{ title }}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
            <li class="doc-navmain-item is-level-1">
                <a href="docs/jsdocs/index.html" class="doc-navmain-link" data-target="#iframe">JS Documentation</a>
            </li>
        </ul>
    </nav>
{{/navigation}}
