/*
 * Component: Page
**********************************************************/


// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************


//----------------------------------------------------------

.rb-page {
    position: relative;
    overflow-y: scroll;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $color-universe;
}

//wrapper page
.page-wrapper {
    overflow-x: hidden;
    margin: auto;
    padding-top: rb-rem-calc(70px);
    width: 100%;
}

//header page
.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $color-eggshell;
    background: $color-universe;
    z-index: $z-pageheader;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        opacity: 0.1;
        background: $color-universe;
        bottom: -2px;
    }
}

.page-header-inner {
    padding: rb-rem-calc(20px);
    display: flex;

    @include rb-respond-to((to:xs)) {
        padding: rb-rem-calc(15px);
    }
}

// intro page

.page-intro {
    position: relative;
    width: 100%;

    &.is-bg-universe {
        background: $color-universe;
    }
}

.page-intro-inner {
    display: flex;
    width: 100%;
    height: 93.5vh;

    @include rb-respond-to((to:xs)) {
        height: 80vh;
    }
}

.page-intro-svg {
    position: relative;
    width: 100%;
    padding-bottom: rb-rem-calc(80px);
    background-color: $color-brighter;
    overflow: hidden;

    @include rb-respond-to((to:s)) {
        padding-bottom: rb-rem-calc(50px);
    }
    @include rb-respond-to((to:xs)) {
        padding-bottom: rb-rem-calc(20px);
    }
}

//Main content

.page-main {
    width: 100%;
}

.page-section {
    position: relative;
    width: 100%;
    background-color: $color-brighter;
    overflow: hidden;

    &.is-bg-stone {
        background: $color-stone;
    }

    &.is-special {
        padding: 0;
        background: $color-universe;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $color-flashy;
            opacity: 0.4;
            z-index: 0;

        }
    }

    &.is-not-padded {
        padding: 0;
    }
    &.is-profile {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
            width: 100%;
            background: $color-bright;

            @include rb-respond-to((to:xxs)) {
                height: 15%;
            }

            @include rb-respond-to(xs) {
                height: 20%;
            }

            @include rb-respond-to(s) {
                bottom: 4%;
                height: 22%;
            }

            @include rb-respond-to(m) {
                bottom: 13%;
                height: 30%;
            }
            @include rb-respond-to((from:l)) {
                bottom: -15%;
                height: 50%;
            }
        }
    }
}

.page-section-inner {
    padding: rb-rem-calc(100px 20px);
    position: relative;
    margin: auto;
    max-width: rb-rem-calc(1600px);

    @include rb-respond-to((to:xxs)) {
        padding: rb-rem-calc(20px);
    }

    &.is-height-special {
        height: 90vh;
        @include rb-respond-to((to:xs)) {
            height: 80vh;
        }
    }

    @media (max-width: 768px) {
        padding-top: rb-rem-calc(50px);
    }

    &.is-pos-centered {
        display: flex;
        padding-top: 0;
    }

    &.is-width-fully {
        max-width: 100%;
    }

    &.is-width-height-full {
        padding: 0;
        max-width: 100%;
    }
}

// footer page

.page-footer {
    width: 100%;
    border-top: solid 2px $color-flashy;
    background: $color-universe;
}

.page-footer-inner {
    padding: rb-rem-calc(20px);

    @include rb-respond-to((from:l)) {
        padding: rb-rem-calc(30px);
    }
}


