/*
 * Component: Cellcase
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-cellcase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include rb-respond-to((from:l)) {
        padding: rb-rem-calc(75px 0);
    }

    @include rb-respond-to((from:s,to:m)) {
        padding: rb-rem-calc(50px);
    }
}

.cellcase-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include rb-respond-to((from:xl)) {
        margin-bottom: rb-rem-calc(100px);
    }

    &.is-small-marginbottom {
        @include rb-respond-to((to:s)) {
            margin-bottom: rb-rem-calc(50px);
        }
    }
}

.cellcase-box {
    position: relative;

    &.is-switched {
        order: 2;
    }
        @media (max-width: 1090px) {
            &:nth-child(2) {
                order: 2;
            }
    }
}

