$z-essence-back: -2;
$z-itemset-background: -1;
$z-itemset-topic-title: 1;
$z-itemset-topic-img: 2;
$z-itemset-list-item-text: 3;
$z-itemset-list-item-img: 4;
$z-itemset-list: 4;
$z-itemset-list-item-hover: 10;
$z-essence: 1;
$z-itemset: 1;
$z-pageheader: 5;
$z-pageheader-after: 6;
$zlevel-7: 7;
$zlevel-8: 8;
$zlevel-9: 9;

