---
component: Mainnav
---

<nav class="b-mainnav">
    <ul class="mainnav-list">
        {{#each items}}
            <li class="mainnav-item {{type}} ">
                <a class="mainnav-item-link" href="{{href}}">
                    <span class="mainnav-item-link-inner">{{title}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</nav>
