---
component: Contact
---

<section class="b-contact" id="contact">
   <div class="contact-inner">
       <h2 class="contact-title">{{title}}<span class="contact-title-exclamationpoint">!</span></h2>
       <ul class="contact-list">
           {{#each item}}
           <li class="contact-list-item"><a class="contact-list-item-inner" href="{{link}}">{{text}}</a></li>
          {{/each}}
       </ul>
   </div>
</section>
