/*
 * Component: Brand
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-brand {
    margin: auto 0;
}

.brand-inner {
    display: block;
    padding: rb-rem-calc(15px);
}

.brand-logo {
    width: rb-rem-calc(200px);
    height: rb-rem-calc(50px);
    fill: $color-eggshell;
    transition: fill 350ms ease;

    @include rb-respond-to((to:xs)) {
        width: rb-rem-calc(130px);
    }
    @include rb-respond-to((from:xxl)) {
        width: rb-rem-calc(300px);
    }

    @media (max-width: 350px) {
        width: rb-rem-calc(65px);
    }
}

