/*
 * Component: Profile
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-profile {
    position: relative;
    padding-top: rb-rem-calc(100px);
    width: 100%;

    @media (max-width: 1600px) {
        padding-top: 0;
    }
}

.profile-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    z-index: 2;
}

.profile-textbox {
    width: 45%;
    @include rb-respond-to((to:s)) {
        width: 100%;
    }
}

.profile-title {
    @include rb-fluid-type-range (font-size, 50px, 110px, 320px, 1600px);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: $color-lollypop;

    & > .is-second-level {
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rb-rem-calc(-70px);
        right: 0;
        margin: auto;
        width: rb-rem-calc(12px);
        height: rb-rem-calc(70px);
        background: $color-lollypop;

        @include rb-respond-to((to:xs)) {
            bottom: rb-rem-calc(-30px);
            width: rb-rem-calc(6px);
            height: rb-rem-calc(30px);
        }

        @include rb-respond-to((from: s, to:m)) {
            bottom: rb-rem-calc(-50px);
            width: rb-rem-calc(8px);
            height: rb-rem-calc(50px);
        }
    }
}

.profile-img {
    position: absolute;
    top: 0;
    right: 250px;
    bottom: 0;
    left: 0;
    margin-left:auto;
    width: 70px;
    border-radius: 50%;
}

.profile-leadin {
    @include rb-fluid-type-range (font-size, 18px, 28px, 320px, 2500px);
    padding: 15% 10% 5% 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-mouse-dead;

    @include rb-respond-to((to:s)) {
        padding: 15% 5% 8% 5%;
    }
}

.profile-media {
    padding: rb-rem-calc(50px);
    width: 55%;
    @include rb-respond-to((to:s)) {
        padding: rb-rem-calc(20px);
        width: 100%;
    }
}

.profile-media-img {

    &.is-office {
        position: relative;
        width: 100%;
    }

    &.is-macbook {
        position: absolute;
        top: 33%;
        left: 9%;
        width: 17%;
        z-index: 1;
    }

    &.is-screen {
        position: absolute;
        width: 33%;
        top: 24%;
        right: 28%;
        z-index: 1;
    }
}
