/*
 * Component: Profile
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-profile {
    padding-top: rb-rem-calc(100px);
    width: 100%;

    @media (max-width: 1600px) {
        padding-top: 0;
    }
}

.profile-inner {
    position: relative;
    padding: 0 10px;
    max-width: 45%;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.profile-title {
    @include rb-fluid-type-range (font-size, 50px, 110px, 320px, 1600px);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: $color-lollypop;

    & > .is-second-level {
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rb-rem-calc(-70px);
        right: 0;
        margin: auto;
        width: rb-rem-calc(12px);
        height: rb-rem-calc(70px);
        background: $color-lollypop;

        @include rb-respond-to((to:xs)) {
            bottom: rb-rem-calc(-30px);
            width: rb-rem-calc(6px);
            height: rb-rem-calc(30px);
        }

        @include rb-respond-to((from: s, to:m)) {
            bottom: rb-rem-calc(-50px);
            width: rb-rem-calc(8px);
            height: rb-rem-calc(50px);
        }
    }
}

.profile-leadin {
    @include rb-fluid-type-range (font-size, 12px, 24px, 320px, 2500px);
    padding: 15% 10% 5% 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $color-mouse;
}
