---
component: Profile
---

<article class="b-profile">
    <div class="profile-inner">
        <h3 class="profile-title">Debbie
            <span class="is-second-level">Derks</span>
        </h3>
        <p class="profile-leadin">Female frontend web developer born and raised in the Netherlands.
            Currently living in the heart of Berlin-Kreuzberg.</p>
    </div>
    <div class="profile-media">
        <div class="b-media is-special">
            <img class="media-img" src="../assets/media/img-temp/dd.png" alt="image of me">
        </div>
    </div>
</article>
