---
component: Profile
---

<div class="b-profile">
    <div class="profile-inner">
        <h2 class="profile-title">Debbie
            <span class="is-second-level">Derks</span>
        </h2>
        <p class="profile-leadin">Female frontend web developer born and raised in the Netherlands.
            Currently living in the cultural heart of Berlin, Kreuzberg. </p>
    </div>
</div>
