---
component: Profile
---

<div class="b-profile">
    <div class="profile-inner">
        <h2 class="profile-title">{{titleLevel1}}
            <span class="is-second-level">{{titleLevel2}}</span>
        </h2>
        <p class="profile-leadin">{{text}}</p>
    </div>
</div>
