/*
 * Component: Essence
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-essence {
    position: relative;
    width: 100%;
    text-align: right;

    @include rb-respond-to((to:m)){
        text-align: left;
    }
}

.essence-title {
    @include rb-fluid-type-range (font-size, 74px, 120px, 320px, 2500px);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: $color-mouse;
    opacity: 0.4;

    @include rb-respond-to((from:l)){
        text-align: right;
    }
}

.essence-subtitle {
    @include rb-fluid-type-range (font-size, 18px, 48px, 320px, 2500px);
    margin-bottom: rb-rem-calc(10px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: $color-mouse-dead;
}

.essence-list {
    margin-bottom: rb-rem-calc(35px);
    padding-left: 20px;
}

.essence-list-item {
    @include rb-fluid-type-range (font-size, 12px, 36px, 320px, 2500px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $color-mouse;
}

.essence-list-item-focuspoint {
    position: relative;
    @include rb-respond-to((to:m)){

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            bottom: 0;
            margin: auto;
            width: rb-rem-calc(6px);
            height: rb-rem-calc(6px);
            background: $color-mouse;
            transform: rotate(45deg);
        }
    }
}

