/*
 * Component: Essence
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-essence {
    display: flex;
    position: relative;
    width: 100%;
}

.essence-textbox {
    position: relative;
    margin: auto;
    margin-bottom: rb-rem-calc(50px);
    padding: rb-rem-calc(0 50px);

    @include rb-respond-to((to:s)) {
        padding: rb-rem-calc(0);
    }

}

.essence-textbox-title {
    @include rb-fluid-type-range (font-size, 26px, 36px, 320px, 768px);
    position: relative;
    margin-bottom: rb-rem-calc(30px);
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    color: $color-universe;

    @include rb-respond-to((from: xxl)) {
        margin-bottom: rb-rem-calc(50px);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        height: rb-rem-calc(6px);
        width: 40px;
        background: $color-universe;
    }
}

.essence-textbox-text {
    @include rb-fluid-type-range (font-size, 18px, 28px, 320px, 2500px);
    margin-bottom: 6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: $color-mouse-dead;
}

.essence-list-item-focuspoint {
    position: relative;
    @include rb-respond-to((to:m)){

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            bottom: 0;
            margin: auto;
            width: rb-rem-calc(6px);
            height: rb-rem-calc(6px);
            background: $color-mouse;
            transform: rotate(45deg);
        }
    }
}

