---
component: Essence
---

<section class="b-essence">
    <div class="essence-textbox">
        <h2 class="essence-textbox-title">Who I am</h2>
        <p class="essence-textbox-text">During the last 10 years I have studied several different areas of design. I love the process of transferring a design into a real product.</p>
        <p class="essence-textbox-text">I believe a website should be simple and balanced, focussed on the function of the website. Added with the right set of colors, functional animations and media makes it an attractive and a user-friendly website.</p>
        <p class="essence-textbox-text">I build component based websites. In this way a website is build to last and it is possible to change whenever, without having any difficulties.</p>
        <p class="essence-textbox-text">I build websites from scratch or with popular frameworks like bootstrap and foundation to speed up the process.</p>
    </div>
    <!--<ul class="essence-list">-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">S</span>tudied several corners of design-->
        <!--</li>-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">A</span>bsolutely thrilled about the creation process-->
        <!--</li>-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">T</span>hrives to find the perfect balance between the beauty of simplicity and functionality-->
        <!--</li>-->
    <!--</ul>-->
    <!--<h3 class="essence-subtitle">Believes in</h3>-->
    <!--<ul class="essence-list">-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">A</span>ccessible Websites-->
        <!--</li>-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">C</span>omponent based development-->
        <!--</li>-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">R</span>esponsive design-->
        <!--</li>-->
        <!--<li class="essence-list-item">-->
            <!--<span class="essence-list-item-focuspoint">U</span>ser-centered Design-->
        <!--</li>-->
    <!--</ul>-->
</section>
