---
component: Essence
---

<section class="b-essence">
    <div class="essence-textbox">
        <h2 class="essence-textbox-title">{{title}}</h2>
        {{#each paragraph}}
            <p class="essence-textbox-text">{{text}}</p>
        {{/each}}
    </div>
</section>
