---
component: Essence
---

<section class="b-essence">
    <h3 class="essence-subtitle">In a nutshell:</h3>
    <ul class="essence-list">
        <li class="essence-list-item">
            Studied several corners of design
        </li>
        <li class="essence-list-item">
            Absolutely thrilled about the creation process
        </li>
        <li class="essence-list-item">
            Thrives to find the perfect balance between the beauty of simplicity and functionality
        </li>
    </ul>
    <h3 class="essence-subtitle">Believes in:</h3>
    <ul class="essence-list">
        <li class="essence-list-item">
            Accessible Websites
        </li>
        <li class="essence-list-item">
            Component based development
        </li>
        <li class="essence-list-item">
            Responsive design
        </li>
        <li class="essence-list-item">
            User-centered Design
        </li>
    </ul>
</section>
