---
component: Essence
---

<section class="b-essence">
    <h2 class="essence-title">Who</h2>
    <h3 class="essence-subtitle">In a nutshell</h3>
    <ul class="essence-list">
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">S</span>tudied several corners of design
        </li>
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">A</span>bsolutely thrilled about the creation process
        </li>
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">T</span>hrives to find the perfect balance between the beauty of simplicity and functionality
        </li>
    </ul>
    <h3 class="essence-subtitle">Believes in</h3>
    <ul class="essence-list">
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">A</span>ccessible Websites
        </li>
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">C</span>omponent based development
        </li>
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">R</span>esponsive design
        </li>
        <li class="essence-list-item">
            <span class="essence-list-item-focuspoint">U</span>ser-centered Design
        </li>
    </ul>
</section>
