/*
 * Doc: Articlemain
**********************************************************/

// Variables
//**********************************************************


//----------------------------------------------------------

.doc-articlemain {
    @include rb-clearfix;
    position: relative;
}

.doc-articlemain-section {
    max-width: 1240px;
    margin: 0 auto;
    padding: rb-rem-calc(60px 40px 120px);
}

.doc-articlemain-example {
    margin: rb-rem-calc(0 0 100px);
}

.articlemain_box {
    @include rb-clearfix;
    max-width: 600px;
    margin: rb-rem-calc(0 auto 50px);
}

