/*********************************************************

Main Stylesheet
----------------------------------------------------------

**********************************************************/
// Normalize
@import "normalize.css";

// Rawblock helpers (mixins, functions, basics);
@import "../../../node_modules/rawblock/helpers";
@import "../../../node_modules/rawblock/basics";

//Settings
@import "settings/**/*.scss";

//Helpers
@import "helpers/**/*.scss";

//	Layout classes (.u-*)
// ---------------------
@include rb-generate-layout-utils($breakpoint-config);
@include rb-export-globaljs((
    mqs: $breakpoint-config,
    nameSeparator: $rb-name-separator,
    elementSeparator: $rb-name-separator,
    statePrefix: "is" + $rb-name-separator,
    utilPrefix: "u" + $rb-name-separator,
    //jsPrefix: "js" + $rb-name-separator,
));

// Styles all components
@import "../../components/**/*.scss";
