{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "modules": true
    },
    "env": {
        "node": true
    },
    "globals": {
        "module": false,
        "require": false
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "no-console": 0,
        "comma-dangle": [1, "always-multiline"],
        "no-unused-vars": [2, { "argsIgnorePattern": "^_", "args": "after-used", "varsIgnorePattern": "_"}],
        "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
    }
}
