<ul class="doc-screensize">
    <li class="doc-screensize-item">
        <button type="button" class="doc-screensize-btn" data-screensize="small">
            <span class="doc-screensize-icon">Small Screensize</span>
        </button>
    </li>
    <li class="doc-screensize-item">
        <button type="button" class="doc-screensize-btn" data-screensize="medium">
            <span class="doc-screensize-icon">Medium Screensize</span>
        </button>
    </li>
    <li class="doc-screensize-item">
        <button type="button" class="doc-screensize-btn" data-screensize="large">
            <span class="doc-screensize-icon">Large Screensize</span>
        </button>
    </li>
    <li class="doc-screensize-item">
        <button type="button" class="doc-screensize-btn" data-screensize="fullsize">
            <span class="doc-screensize-icon">Fullsize Screensize</span>
        </button>
    </li>
</ul>
