/*
 * Component: Shape
**********************************************************/


// Variables
//**********************************************************


//----------------------------------------------------------


.b-shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-cirkel {
        margin: auto;
        border-radius: 50%;

        &.is-lollypop {
            @include rb-fluid-type-range (width, 200px, 1000px, 320px, 2500px);
            @include rb-fluid-type-range (height, 200px, 1000px, 320px, 2500px);
            background: $color-pleasure;
            box-shadow: 0 10px 30px $color-pleasure-deep;
            transform: translate3d(-110%,0,0);
        }


    }

}

.shape-dept-1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-cirkel {
        @include rb-fluid-type-range (width, 125px, 650px, 320px, 2500px);
        @include rb-fluid-type-range (height, 125px, 650px, 320px, 2500px);
        margin: auto;
        border-radius: 50%;
        background: $color-pleasure;
        box-shadow: 0 30px 30px $color-pleasure-deep,0 -1px 100px $color-pleasure-deep;
    }
}

.shape-dept-2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-cirkel {
        @include rb-fluid-type-range (width, 50px, 300px, 320px, 2500px);
        @include rb-fluid-type-range (height, 50px, 300px, 320px, 2500px);
        margin: auto;
        border-radius: 50%;
        background: $color-pleasure;
        box-shadow: 0 30px 30px $color-pleasure-deep,0 -1px 100px $color-pleasure-deep;
    }
}
